<div class="container">
  <div class="row">
    <div class="mx-auto">

     <h1 class="mb-4 mt-5"><%= @customer.last_name %> <%= @customer.first_name %>さんの会員情報編集</h1>

      <%= form_with model: @customer, url: public_customer_path(@customer), method: :patch, local: true do |f| %>
       <% if @customer.errors.any? %>
        <div class="alert alert-danger">
          <%= @customer.errors.count %>件のエラーが発生しました
          <ul class="mb-0">
            <% @customer.errors.full_messages.each do |message| %>
              <li><%= message.gsub("last_name", "姓").gsub("first_name", "名").gsub("Name", "フリガナ(姓)").gsub("Image", "フリガナ(名)").gsub("Introduction", "郵便番号").gsub("Address", "住所").gsub("telephone_number", "電話番号").gsub("Email", "メールアドレス")  %></li>
            <% end %>
          </ul>
        <% end %>

         <div class="row">
              <lavel class="col-lg-3">氏名</lavel>
              <div class="col-lg-3">
                <%= f.text_field :last_name,autofocus: true, autocomplete: "last_name" %>
              </div>
              <div class="col-lg-3">
                <%= f.text_field :first_name,autofocus: true, autocomplete: "first_name" %>
              </div>
         </div><br>

         <div class="row">
              <lavel class="col-lg-3">フリガナ</lavel>
              <div class="col-lg-3">
                <%= f.text_field :last_name_kana,autofocus: true, autocomplete: "last_name_kana" %>
              </div>
              <div class="col-lg-3">
                <%= f.text_field :first_name_kana,autofocus: true, autocomplete: "first_name_kana" %>
              </div>
         </div><br>

         <div class="row">
              <lavel class="col-lg-3">郵便番号</lavel>
              <div class="col-lg-3">
                <%= f.text_field :postal_code,autofocus: true, autocomplete: "postal_code" %>
              </div>
         </div><br>

         <div class="row">
              <lavel class="col-lg-3">住所</lavel>
              <div class="col-lg-3">
                <%= f.text_field :address,autofocus: true, autocomplete: "address" %>
              </div>
         </div><br>

         <div class="row">
              <lavel class="col-lg-3">電話番号</lavel>
              <div class="col-lg-3">
                <%= f.text_field :telephone_number,autofocus: true, autocomplete: "telephone_number" %>
              </div>
         </div><br>

         <div class="row">
              <lavel class="col-lg-3">メールアドレス</lavel>
              <div class="col-lg-3">
                <%= f.text_field :email,autofocus: true, autocomplete: "email" %>
              </div>
         </div><br>


         <div class="row">
          <div class="col-md-3"> <%= f.submit "編集内容を保存", class: "btn btn-success" %></div>
            <div class="col-lg-6 col-lg-offset-3"><%= link_to "退会する", public_customers_unsubscribe_path, class: "btn btn-danger" %></div>
         </div>

     <% end %>
      </div>
    </div>
  </div>
</div>