<h1>商品編集</h1>

<%= form_with url: admin_item_path, method: :patch, model: @item do |f| %>


<p>商品画像</p>
  <%= f.file_field :image, accept: "image/*" %>

  <p>商品名</p>
  <%= f.text_field :name %>

  <p>商品説明</p>
  <%= f.text_area :introduction %>

	<p>ジャンル</p>
  <%= f.select :genre_id, options_for_select(@genres.map { |genre| [genre.name, genre.id] }, @item.genre_id) %>


	<p>税抜価格</p>
	<%= f.text_field :price %>

  <p>販売ステータス</p>
<p>
  <%= f.label :is_active, "販売中" %>
  <%= f.radio_button :is_active, true, {checked: @item.is_active} %>

  <%= f.label :is_active, "販売停止中" %>
  <%= f.radio_button :is_active, false, {checked: !@item.is_active} %>
</p>

<%= f.submit '変更を保存' %>

<% end %>