<h1>商品新規登録</h1>
<!-- form_with部分 -->
<%= form_with url: admin_items_path, model: @item do |f| %>
  <p>商品画像</p>
  <%= f.file_field :image, accept: "image/*" %>

  <p>商品名</p>
  <%= f.text_field :name %>

  <p>商品説明</p>
  <%= f.text_area :introduction %>

	<p>ジャンル</p>
	<%= f.select :genre_id, options_for_select(@genres.map { |genre| [genre.name, genre.id] }) %>

	<p>税込価格</p>
	<%= f.text_field :price %>

  <p>販売ステータス</p>
<p>
  <%= f.label :is_active, "販売中" %>
  <%= f.radio_button :is_active, true, {checked: @item.is_active} %>

  <%= f.label :is_active, "販売停止中" %>
  <%= f.radio_button :is_active, false, {checked: !@item.is_active} %>
</p>

  <%= f.submit '新規登録' %>
<% end %>