<div class='container' style="margin-top: 100px; margin-bottom: 100px;">
  <div class='row justify-content-center'>
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto align-self-center text-start">
      <h3 class="text-center">商品詳細</h3>

      <table class="table" style="border: none;">
        <tr>
          <td rowspan="5" style="border: none;" class="text-start">
            <div class="text-center mb-3">
              <%= image_tag @item.image, size: "300x300", class: "img-fluid" %>
            </div>
          </td>
          <th class="text-end" style="border: none;">商品名</th>
          <td style="border: none;"><%= @item.name %></td>
        </tr>
        <tr>
          <th class="text-end" style="border: none;">商品説明</th>
          <td style="border: none;"><%= @item.introduction %></td>
        </tr>
        <tr>
          <th class="text-end" style="border: none;">税込価格<br>(税抜価格)</th>
          <td style="border: none;"><%= number_with_delimiter((@item.price * 1.1).ceil.to_i, delimiter: ',') %>(<%= number_with_delimiter(@item.price) %>)</td>
        </tr>
        <tr>
          <th class="text-end" style="border: none;">ジャンル</th>
          <td style="border: none;"><%= @item.genre.name %></td>
        </tr>
        <tr>
          <th class="text-end" style="border: none;">販売ステータス</th>
          <td style="border: none;">
            <% if @item.is_active %>
              <span class='text-success'>販売中</span>
            <% else %>
              <span class='text-secondary'>販売停止</span>
            <% end %>
          </td>
        </tr>
      </table>

      <div class="text-center">
        <%= link_to '編集する', edit_admin_item_path(@item), class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>