<h1>商品詳細</h1>

<p>商品画像</p>
<%= image_tag @item.image, size: "200x200" %>

<p>商品名</p>
<p><%= @item.name %></p>

<p>商品説明</p>
<p><%= @item.introduction %></p>

<p>ジャンル</p>
<p><%= @item.genre %></p>

<p>税込価格</p>
<p><%= @item.price %></p>

<p>販売ステータス</p>
<p>
  <% if @item.is_active %>
    販売中
  <% else %>
    販売停止
  <% end %>
</p>