<div class="col-sm-9 col-md-7 col-lg-5 px-5 px-sm-0 mx-auto align-self-center text-start" style="margin-top: 50px; margin-bottom: 50px;">
  <h2>注文履歴一覧</h2>
   <div class="d-flex justify-content-around">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
        <td><%= order.cart_items.sum(:quantity) %></td>
        <td>
          <%= form_with model: order, url: admin_order_path(order), method: :patch do |f| %>
          <%= f.select :order_status, Order.order_statuses, class: "form-control" %>
          <% end %>
        </td>
      </tr>
    <% end %>
   </tbody>
  </table>
 </div>
</div> 
