<div class="col-sm-7 col-md-5 col-lg-3 px-5 px-sm-0 mx-auto align-self-center text-start" style="margin-top: 50px; margin-bottom: 50px;">
  <h3>ジャンル一覧・追加</h3>
  <div class="row">
    <div class="col">
      <%= form_with url: admin_genres_path, model: @genre do |g| %>
        <div class="form-group row">
          <label for="genre_name" class="col-sm-3 col-form-label">ジャンル名</label>
          <div class="col-sm-9 d-flex align-items-center">
            <%= g.text_field :name, class: 'form-control mr-2' %>
            <%= g.submit '新規登録', class: "btn btn-success btn-sm" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>ジャンル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |ge| %>
          <tr>
            <td>
              <%= ge.name %>
            </td>
            <td>
              <%= link_to '編集する', edit_admin_genre_path(ge), class: "btn btn-outline-primary btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
