<div class="container mt-5">

 <h2>配送先一覧</h2>
  <%= form_with model: @address, url: public_addresses_path, method: :post do |f| %>
   <% if @address.errors.any? %>
      <%= @address.errors.count %>件のエラーが発生しました
      <ul>
        <% @address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

  <table>
   <tr>
     <td>郵便番号(ハイフンなし)</td>
     <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class:"form-control mx-5 mb-2" %></td>
     <td></td>
   </tr>

   <tr>
     <td>住所</td>
     <td><%= f.text_field :address, autofocus: true, autocomplete: "address", class:"form-control mx-5 mb-2" %></td>
     <td></td>
   </tr>

   <tr>
     <td>宛名</td>
     <td><%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control mx-5 mb-2" %></td>
     <td><%= f.submit "新規登録", class: "btn btn-success mx-5 mb-2" %></td>
   </tr>

   </table>
  <% end %>

   <table class="table table-bordered">
     <thead>
      <tr>
        <th class="table-secondary w-25">郵便番号</th>
        <th class="table-secondary w-25">住所</th>
        <th class="table-secondary w-25">宛名</th>
        <th class="table-secondary w-25"></th>
      </tr>
     </thead>

   <tbody>
    　<% @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td>
            <%= link_to "編集する", addresses_edit_path(address), class: "btn btn-success" %>
            <%= link_to "削除する", public_address_path(address), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
        </tbody>
   </table>
</div>