<div class="container mt-5">

 <h2>配送先一覧</h2>
  <%= form_with model: @address, url: public_addresses_path, method: :post do |f| %>
   <% if @address.errors.any? %>
        <div class="alert alert-danger">
          <%= @address.errors.count %>件のエラーが発生しました
          <ul class="mb-0">
            <% @address.errors.full_messages.each do |message| %>
              <li><%= message.gsub("postal_code", "郵便番号").gsub("Address", "住所").gsub("Name", "宛名") %></li>
            <% end %>
          </ul>
        </div>
  <% end %>

    <div class="row justify-content-center">
     <div class="col-lg-6">
       <div class="row">
         <label class="col-lg-4" style="background-color:  #a0522d; border-radius: 5px; padding: 5px; color: #FAEBD7; text-align: center;">郵便番号</label>
         <div><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class:"form-control mx-5 mb-2" %></div>
       </div>
    

       <div class="row">
             <label class="col-lg-4" style="background-color:  #a0522d; border-radius: 5px; padding: 5px; color: #FAEBD7; text-align: center;">住所</label>
         <div><%= f.text_field :address, autofocus: true, autocomplete: "address", class:"form-control mx-5 mb-2" %></div>
       </div>
    
       <div class="row">
             <label class="col-lg-4" style="background-color:  #a0522d; border-radius: 5px; padding: 5px; color: #FAEBD7; text-align: center;">宛名</label>
             <div><%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control mx-5 mb-2" %></div>
             <div><%= f.submit "新規登録", class: "btn btn-success ml-5" %></div>
       </div>
     </div>
    </div>
  <% end %>

    <table class="table table-bordered my-2" style="overflow: hidden; border-radius: 20px;">
     <thead>
      <tr>
        <th class="table-secondary w-25" style="background-color: #a0522d; color: #FAEBD7; text-align: center;">郵便番号</th>
        <th class="table-secondary w-25" style="background-color: #a0522d; color: #FAEBD7; text-align: center;">住所</th>
        <th class="table-secondary w-25" style="background-color: #a0522d; color: #FAEBD7; text-align: center;">宛名</th>
        <th class="table-secondary w-25" style="background-color: #a0522d; color: #FAEBD7;"></th>
      </tr>
     </thead>

   <tbody>
    　<% @addresses.each do |address| %>
        <tr>
          <td style="background-color: #eee0ce;"><%= address.postal_code %></td>
          <td style="background-color: #eee0ce;"><%= address.address %></td>
          <td style="background-color: #eee0ce;"><%= address.name %></td>
          <td style="background-color: #eee0ce; text-align: center;">
            <%= link_to "編集する", addresses_edit_path(address), class: "btn btn-success" %>
            <%= link_to "削除する", public_address_path(address), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
        </tbody>
   </table>
</div>