<div class='container' style="margin-top: 100px; margin-bottom: 100px;">
  <div class='row justify-content-center'>
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto align-self-center text-start">
      <h3 class="text-center"><i class="fa-solid fa-shopping-cart"></i> ショッピングカート <i class="fa-solid fa-shopping-cart"></i></h3>

      <% if @cart_items.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th>操作</th> <!-- 削除ボタン用の列を追加 -->
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td><%= cart_item.item.name %></td>
                <td>￥<%= number_with_delimiter((cart_item.item.price * 1.1).ceil.to_i, delimiter: ',') %></td>
                <td><%= cart_item.amount %></td>
                <td>￥<%= number_with_delimiter((cart_item.item.price * 1.1 * cart_item.amount).ceil.to_i, delimiter: ',') %></td>
                <td>
                  <%= button_to "削除", public_cart_item_path(cart_item), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="text-center">
          <%= link_to '情報入力に進む', new_public_order_path, class: "btn btn-primary" %>
         <%= form_tag destroy_all_public_cart_items_path, method: :delete, data: { confirm: "カート内の全ての商品を削除しますか？" } do %>
  　　　　　<%= submit_tag 'カートを空にする', class: "btn btn-danger" %>
　　　　　<% end %>
        </div>
      <% else %>
        <p class="text-center">カートに商品がありません。</p>
      <% end %>
    </div>
  </div>
</div>
