<div class="col-sm-12 col-md-12 col-lg-6 px-5 px-sm-0 mx-auto align-self-center text-start" style="margin-top: 50px; margin-bottom: 50px;">
  <h3>注文履歴一覧</h3>
  <table class="order-table table">
    <thead>
      <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td><%= order.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M ") %></td>
          <td>
            <%= order.postal_code %><br/>
            <%= order.address %><br/>
            <%= order.name %>
          </td>
          <td>
            <table>
            <% order.order_details.each do |order_detail| %>
            <tbody>
              <tr>
                <td>
              <%= order_detail.item.name %>
              </td>
              </tr>
            </tbody>
            <% end %>
            </table>
          </td>
          <td><%= "#{order.total_payment.to_s(:delimited)}" %>円</td>
          <td><%= order.status %></td>
          <td><%= link_to '表示する', public_order_path(order.id) %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
    <%= paginate @orders %>
</div>
