<div class='container' style="margin-top: 100px; margin-bottom: 100px;">
  <div class='row justify-content-center'>
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto align-self-center text-start">
      <h3 class="text-center"><i class="fa-solid fa-cake-candles"></i> 商品詳細 <i class="fa-solid fa-cake-candles"></i></h3>

      <div class="row">
        <!-- 商品の画像 -->
        <div class="col-md-6">
          <%= image_tag @item.image, size: "400x400", class: "img-fluid" %>
        </div>
        <!-- 商品詳細 -->
        <div class="col-md-6">
          <table class="table">
            <tr>
              <th style="width: 30%;">商品名:</th>
              <td style="width: 70%;"><%= @item.name %></td>
            </tr>
            <tr>
              <th>商品紹介:</th>
              <td><%= @item.introduction %></td>
            </tr>
            <tr>
              <th>税込価格:</th>
              <td>￥<%= number_with_delimiter((@item.price * 1.1).ceil.to_i, delimiter: ',') %> (税込)</td>
            </tr>
            <tr>
              <th>税抜価格:</th>
              <td>￥<%= number_with_delimiter((@item.price).ceil.to_i, delimiter: ',') %> (税抜)</td>
            </tr>
          </table>
          <!-- カートに追加フォーム -->
          <%= form_with(model: @cart_item, url: public_cart_items_path, html: { class: "text-center" }) do |form| %>
            <div class="row justify-content-center">
              <div class="col-md-6">
                <!-- カスタムスタイルのプルダウン -->
                <%= form.select :amount, options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), { prompt: "個数" }, class: "form-select form-control-sm mb-2" %>
                <%= form.submit 'カートへ', class: "btn btn-success btn-sm" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
