<header>
  <!-- 上部 -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #a0522d;">
    <div class="container">
      <!-- 上部左端に配置 -->
     <div class="d-lg-flex d-none align-items-center col-lg-4 mr-auto">
      <!-- Nagano Cake テキスト -->
      <% if customer_signed_in? %>
        <%= link_to root_path, class: "navbar-brand", style: "margin-right: auto; margin-left: 0;" do %>
          <%= image_tag("nagano_cake1.jpg", alt: "Nagano Cake", size: "100x100") %>
        <% end %>
      <% elsif admin_signed_in? %>
        <%= link_to admin_items_path, class: "navbar-brand", style: "margin-right: auto; margin-left: 0;" do %>
          <%= image_tag("nagano_cake1.jpg", alt: "Nagano Cake", size: "100x100") %>
        <% end %>
      <% else %>
        <%= link_to root_path, class: "navbar-brand", style: "margin-right: auto; margin-left: 0;" do %>
          <%= image_tag("nagano_cake1.jpg", alt: "Nagano Cake", size: "100x100") %>
        <% end %>
      <% end %>
    </div>


      <!-- 上部中央に配置 -->
      <div class=" d-lg-flex d-none align-items-center col-lg-8">
        <!-- 検索ボックス -->
        <form class="form-inline my-2 my-lg-0 ml-auto">
          <input class="form-control mr-sm-2" type="search" placeholder="検索" aria-label="検索">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">検索</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- 下部 -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #a0522d;">
    <div class="container">
      <!-- 下部左に配置 -->
      <div class="col-lg-6">
        <!-- ログインしている場合の下部メッセージ -->
        <% if customer_signed_in? %>
          <span class="text-light mr-12"><%= current_customer.last_name %> さまようこそ</span>
        <% elsif admin_signed_in? %>
          <span class="text-light mr-12">管理者</span>
        <% end %>
      </div>
      <!--下部右に配置-->
      <div class="col-lg-6">
        <!-- ハンバーガー・・・なくてもよさそう -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <!-- ログインしていない場合 -->
            <% unless admin_signed_in? || customer_signed_in? %>
              <li>
                <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-user-plus"></i>新規登録
                <% end %>
              </li>
              <li>
                <%= link_to new_customer_session_path,class: 'nav-link text-light' do %>
                  ログイン
                <% end %>
              </li>
              <li>
                <%= link_to public_items_path,class: 'nav-link text-light' do %>
                商品一覧
                <% end %>
              </li>
              <li>
                <%= link_to about_path,class: 'nav-link text-light' do %>
                About
                <% end %>
              </li>
            <% end %>
            <!-- 管理者がログインしている場合 -->
            <% if admin_signed_in? %>
              <li>
                <%= link_to admin_items_path,class: 'nav-link text-light' do %>
                  商品一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_customers_path,class: 'nav-link text-light' do %>
                会員一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_orders_path,class: 'nav-link text-light' do %>
                注文履歴一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_genres_path,class: 'nav-link text-light' do %>
                ジャンル一覧
                <% end %>
              </li>
              <li>
                <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
                ログアウト
                <% end %>
              </li>
            <% end %>
            <!-- 顧客がログインしている場合 -->
            <% if customer_signed_in? %>
              <li>
                <%= link_to public_customers_path,class: 'nav-link text-light' do %>
                マイページ
                <% end %>
              </li>
              <li>
                <%= link_to public_items_path,class: 'nav-link text-light' do %>
                商品一覧
                <% end %>
              </li>
              <li>
                <%= link_to public_cart_items_path,class: 'nav-link text-light' do %>
                カート
                <% end %>
              </li>
              <li>
                <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-light' do %>
                ログアウト
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
